name: Build and Push to OCIR

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 17

    - name: Build JAR with Maven
      run: mvn clean package -DskipTests

    - name: Log into OCIR
      uses: oracle-actions/login-ocir@v1.3.0
      id: login-ocir
      with:
        auth_token: ${{ secrets.OCIR_PASSWORD }}
        region: ${{ secrets.OCIR_REGION }}

    - name: Build Docker image
      run: docker build -t "${{ secrets.OCIR_REGION }}.ocir.io/${{ secrets.OCIR_NAMESPACE }}/${{ secrets.OCIR_REPO }}:latest" .

    - name: Push Docker image to OCIR
      run: docker push "${{ secrets.OCIR_REGION }}.ocir.io/${{ secrets.OCIR_NAMESPACE }}/${{ secrets.OCIR_REPO }}:latest"
