name: Build and Push to OCIR

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    name: Get OCIR Repository Test
    env:
      OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
      OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
      OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
      OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
      OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
      SUBNET_ID: ${{ secrets.OCI_SUBNET_OCID }}
      SHAPE: VM.Standard.E2.1
      CONTAINER_NAME: demo-app
      NAMESPACE: frwunln9uqph
      OCI_REGION: fra
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 17

    - name: Log into OCIR
      uses: oracle-actions/login-ocir@v1.3.0
      id: login-ocir
      with:
        auth_token: ${{ secrets.OCI_AUTH_TOKEN }}

    - name: Build JAR with Maven
      run: mvn clean package -DskipTests

    - name: Build and push Docker image
      run: |
        # Use the 'image' output from the previous step
        IMAGE=${{ env.OCI_REGION }}.ocir.io/${{ env.NAMESPACE }}/demo:latest
        echo "Building Docker image $IMAGE"
        docker build -t $IMAGE .
        docker push $IMAGE

    - name: Retrieve the OCID of a named compartment in tenancy
      uses: oracle-actions/run-oci-cli-command@v1.3.2
      id: find-compartment-id
      with:
        command: 'iam compartment list --compartment-id-in-subtree=true'
        query: "data[?name=='root'].id"

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Create Container Instance with image
      env:
        IMAGE: ${{ env.IMAGE }}
      uses: oracle-actions/run-oci-cli-command@v1.3.2
      with:
        command: |
          oci --debug container instance create \
            --display-name $CONTAINER_NAME \
            --compartment-id ${{ secrets.OCI_CLI_TENANCY }} \
            --image $IMAGE \
            --subnet-id $SUBNET_ID \
            --shape $SHAPE \
            --port-mappings '[{"containerPort":8080,"protocol":"TCP"}]' \
            --assign-public-ip true \
            --environment-variables "[\
              {\"name\":\"SPRING_DATASOURCE_URL\",\"value\":\"jdbc:postgresql://${{ secrets.DB_HOST }}:5432/${{ secrets.DB_NAME }}\"},\
              {\"name\":\"SPRING_DATASOURCE_USERNAME\",\"value\":\"${{ secrets.DB_USER }}\"},\
              {\"name\":\"SPRING_DATASOURCE_PASSWORD\",\"value\":\"${{ secrets.DB_PASS }}\"}\
            ]"
